body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 900px;
}

.card {
    background: rgba(255,255,255,0.08);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
    font-size: 42px;
}

.subtitle {
    margin-bottom: 30px;
    color: #cbd5e1;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    min-width: 200px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 15px;
}

.success {
    color: #22c55e;
    font-weight: bold;
}

button {
    background: #3b82f6;
    border: none;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #2563eb;
}

#message {
    margin-top: 20px;
    color: #facc15;
}
